.container{
    display: flex;
    height: 600px;
    width: 1110px;
    background:lightblue ;
    border: 5px solid navy;
    /* flex-direction: column-reverse; */   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.item{
    height: 100px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    background-color:lightgrey;
}
